            
            /* body css */

*{
    padding: 0;
    margin: 0;
   
}

            /* whole layout */

main{
    margin: auto;
    display: flex;
}

            /* background image */

.image .resp1{
    width: 500px;
    height: 100vh;
    position: relative;
}

            /* (logo  on background) div*/

.image .logo{
    width: 498px;
    height: 100px;
    background-color: rgba(42, 42, 42, 0.429);
    /* border: 1px solid red; */
    position: absolute;
    top: 150px;
    display:flex;
    align-items: center;  
}

            /* odin logo */

.image .logo .resp2{
    width: 80px;
    height: 100px;
    margin: 0 0 0 160px;

}

            /* odin logo text */

.image .logo #logo_text{
    position: absolute;
    font-weight: 900;
    font-size: 40px;
    color: brown;
    right: 150px;
}

/* credits section */

.image .credit{
    position: absolute;
    color: #ffffff;
    bottom: 20px;
    left: 100px;
    /* border: 1px solid red; */
}

.image .credit a{
    color: #ffffff;
}

        /* text_area */

main .text_area{
    background-color: #f9fafb;
    width: 100vw;
  
}



.text_area .section_one{
    margin: 50px 0 0 20px;
}

.text_area .section_one p{
    width: 60%;
    /* border: 1px solid green; */
    font-size: 20px;
    
    font-weight: bold;
}


.text_area .section_one .p_two{
    margin: 20px 0 0 0;
}


.text_area .section_two p{
    color: black;
    /* border: 2px solid red; */
    /* margin: 15px 0 0 20px; */
    padding: 20px 0 0 40px ;
    box-sizing: border-box;
    font-size: 20px;
}

/* form section (section_two) */

.text_area .section_two{
    background-color: #ffffff;
    height: 290px;
    /* width: 90%; */ 
    box-shadow: 0 4px 8px 0 rgb(129, 129, 129), 0 6px 20px 0 rgba(163, 163, 163, 0.19) ;
    margin: 50px 0 0 0;
    font-size: 19px;
    font-weight: bold;

}

.section_two form{
    display:flex ;
    /* border: 2px solid red; */
    margin-bottom: 10px;
    height: 220px;
}

.section_two form input{
    border: 1px solid #e5e7eb;
    width: 250px;
    height: 25px;
    border-radius: 5px;
}

.section_two form input:focus{
    border: 1px solid blue;
}

    /*  first input section */

.section_two form .first_input{
    margin: 0 0 0 20px ;
    text-transform: uppercase;
    /* border: 1px solid black; */
}


.section_two .first_input div{
    margin: 20px 0 0 20px;
}


    /* second input section */

.section_two form .second_input{
    margin: 0 0 0 70px;
    text-transform: uppercase;
    /* border: 1px solid black; */

}


.section_two .second_input div{
    margin: 20px 0 0 20px;
}

/* input titles */

.section_two h5{
    font-size: 13px;
    font-weight: 500;

}




/* button (create account) */

button{
    width: 22%;
    height: 5%;
    border: none;
    border-radius: 5px ;
    margin: 20px 0 0 30px;
    color: #ffffff;
    background-color: #596D48;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 700;
}

/* already have an account login part */

.text_area .login{
    margin: 25px 0 0 30px;
    font-size: 18px;
    font-family: sans-serif;

}

.text_area .login a{
    text-decoration: none;
    color: #596D48;
}